<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo">
      <a href="#" class="logo">
        <img src="./assets/images/macaroons.png" alt="macarons">
      </a>
      <div class="rights">Все права защищены, 2020</div>
    </div>
    <a href="{{instagramLinkCompanyFooter}}" class="footer__instagram" target="_blank">
      <div class="icon">
        <img src="./assets/images/instagram-icon.png" alt="instagram">
      </div>
      <div class="footer__icon-title">Мы в Instagram</div>
    </a>
    <div class="phone-number footer__phone">{{phoneNumberFooter}}</div>
  </div>
</footer>
