<app-header [phoneNumberHeader]="phoneNumber"></app-header>
<section class="main">
  <div class="container main__container">
    <div class="main__block">
      <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="button button__select" (click)="scrollToElement(productsElement)">Выбрать макарун</button>
    </div>
    <div class="main__image">
      <img src="../assets/images/main-macaroons.png" alt="box-macaroons" class="main__image-img">
    </div>

  </div>
</section>
<section class="history" id="about-company">
  <div class="container history__container">
    <div class="history__block">
      <div class="history__title-text">
        <h2 class="history__title">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div class="history__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="history__image">
        <img src="../assets/images/macaroon-second.png" alt="macaroon-pink" class="history__image-img">
      </div>
    </div>
    <div class="history__items">
      <div class="history__item" *ngFor="let advantage of advantages; let i = index">
        <div class="history__number-circle">
          <div class="history__number">{{i + 1}}</div>
        </div>
        <div class="history__item-title">{{advantage.title}}</div>
        <div class="history__item-text">{{advantage.description}}</div>
      </div>
    </div>
  </div>
</section>
<section class="products" id="products" #productsElement>
  <div class="container products__container">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products__items">
      <div class="product__item-box" *ngFor="let product of products; let i = index">
        <div class="products__item">
          <div class="products__image-item">
            <img src="./assets/images/{{product.image}}" alt="macaroon-{{i + 1}}" class="products__img">
          </div>
          <div class="products__text-item">{{product.title}}</div>
          <div class="products__order-item">
            <div class="products__parameters">
              <div class="products__price-count">{{product.count}} шт.</div>
              <div class="products__price-count">{{product.price}} руб.</div>
            </div>
            <button class="button products__button" (click)="onOrder(product.title, orderElement)">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" id="order">
  <div class="container order__container">
    <div class="order__image">
      <img src="./assets/images/strawberry-middle.png" alt="strawberry-middle" class="order__strawberry-middle">
      <img src="./assets/images/macaron-order.png" alt="macaron-order" class="order__image-img">
    </div>
    <form action="#" class="order__form" #orderElement>
      <h2 class="order__title">Закажите макарун!</h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <label>
        Ваш выбор
        <input type="text"
               name="orderProduct"
               placeholder="Напишите, что хотите заказать..."
               class="order__input order__your-data"
               [(ngModel)]="productOrder"
        >
      </label>
      <label>
        Заполните данные для заказа
        <input type="text" placeholder="Ваше имя" class="order__input order__your-name">
        <input type="tel" placeholder="+375 (__) ___ - __ - __" class="order__input order__your-phone">
      </label>
      <button type="submit" class="button order__button">Оформить заказ</button>
      <img src="./assets/images/strawberry-little.png" alt="strawberry-little" class="order__strawberry-little">
    </form>
  </div>
</section>
<div class="present" [@fadeOut]="showPresent">
  <div class="present__logo">
    <img src="./assets/images/present.png" alt="present" class="present__logo-img">
  </div>
  <div class="present__text">
    Оформите заказ и получите подарок!
  </div>
</div>
<app-footer [phoneNumberFooter]="phoneNumber"
            [instagramLinkCompanyFooter]="instagramCompanyLink"/>
