<app-header [phoneNumberHeader]="phoneNumber"></app-header>
<section class="main">
  <div class="container main__container">
    <div class="main__block">
      <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="button button__select" (click)="scrollToElement(productsElement)" appBackgroundButton>Выбрать макарун</button>
    </div>
    <div class="main__image">
      <img src="../assets/images/main-macaroons.png" alt="box-macaroons" class="main__image-img">
    </div>

  </div>
</section>
<section class="history" id="about-company">
  <div class="container history__container">
    <div class="history__block">
      <div class="history__title-text">
        <h2 class="history__title">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div class="history__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="history__image">
        <img src="../assets/images/macaroon-second.png" alt="macaroon-pink" class="history__image-img">
      </div>
    </div>
    <div class="history__items">
      <app-advantages *ngFor="let advantage of advantages; let i = index"
                      [advantage]="advantage" [advantageIndex]="i + 1"></app-advantages>
    </div>
  </div>
</section>
<section class="products" id="products" #productsElement>
  <div class="container products__container">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products__items">
      <div class="product__item-box" *ngFor="let product of products; let i = index">
        <app-product [product]="product" [productIndex]="i + 1" (addToCartEvent)="onOrder(product.title, orderElement)"></app-product>
      </div>
    </div>
  </div>
</section>
<section class="order" id="order">
  <div class="container order__container">
    <div class="order__image">
      <img src="./assets/images/strawberry-middle.png" alt="strawberry-middle" class="order__strawberry-middle">
      <img src="./assets/images/macaron-order.png" alt="macaron-order" class="order__image-img">
    </div>
    <form action="#" class="order__form" #orderElement>
      <h2 class="order__title">Закажите макарун!</h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <label>
        Ваш выбор
        <input type="text"
               name="orderProduct"
               placeholder="Напишите, что хотите заказать..."
               class="order__input order__your-data"
               [(ngModel)]="productOrder"
        >
      </label>
      <label>
        Заполните данные для заказа
        <input type="text" placeholder="Ваше имя" class="order__input order__your-name">
        <input type="tel" placeholder="+375 (__) ___ - __ - __" class="order__input order__your-phone">
      </label>
      <button type="submit" class="button order__button" appBackgroundButton>Оформить заказ</button>
      <img src="./assets/images/strawberry-little.png" alt="strawberry-little" class="order__strawberry-little">
    </form>
  </div>
</section>
<app-present *ngIf="showPresent"></app-present>
<app-footer [phoneNumberFooter]="phoneNumber"
            [instagramLinkCompanyFooter]="instagramCompanyLink"/>
