.main {
  background: #eba8b1;
  overflow: hidden;
}

.main__container {
  padding: 126px 15px 108px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.main__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px 0;
}

.main__image {
  position: relative;
  z-index: 1;
}

.main__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 85%;
  height: 100%;
  border: 2px solid #770a1d;
  border-radius: 50%;
  animation: pulse 3s infinite;
  animation-delay: 0.5s;
  z-index: -1;
}

.main__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 85%;
  height: 100%;
  border: 2px solid #770a1d;
  border-radius: 50%;
  animation: pulse 3s infinite;
  z-index: -1;
}

.main__title {
  font-size: 55px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  max-width: 580px;
  font-weight: normal;
}

.main__text {
  font-size: 18px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  max-width: 346px;
  margin-bottom: 20px;
}

.button__select {
  font-size: 18px;
  width: 240px;
  height: 60px;
}

.history {
  background: #ffefef;
}

.history__container {
  display: flex;
  padding: 119px 20px 123px 20px;
  flex-direction: column;
  gap: 83px;
}

.history__block {
  display: flex;
  flex-direction: row;
  /*gap: 151px;*/
  justify-content: space-between;
  align-items: end;
}

.history__title-text {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.history__title {
  font-size: 45px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  text-align: left;
  max-width: 475px;
  font-weight: normal;
}

.history__text {
  font-size: 18px;
  font-family: Gilroy-regular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  text-align: left;
  max-width: 400px;
}

.history__image {
  display: flex;
}

.history__items {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  justify-items: start;
  justify-content: space-between;
}

.products {
  background: #eba8b1;
}

.products__container {
  display: flex;
  flex-direction: column;
  gap: 86px;
  padding: 120px 15px 120px 15px;
}

.products__title {
  font-size: 45px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 30px;
  justify-content: center;
  justify-items: center;
}

.product__item-box {
  display: flex;
  align-items: end;
  padding-top: 63px;
}



.order {
  background: #ffefef;
}

.order__container {
  padding: 98px 15px 120px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 163px;
}

.order__image {
  position: relative;
  max-height: 490px;
  align-self: end;
}

.order__strawberry-middle {
  position: absolute;
  left: -27px;
  top: -26px;
  animation: strawberry-fly 3s infinite;
}

.order__form {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Gilroy-bold, sans-serif;
  color: rgb(18, 10, 6);
  text-align: left;
}

.order__title {
  font-size: 45px;
  font-family: Tavolga-free, sans-serif;
  color: rgb(51, 25, 7);
  text-align: left;
  margin-bottom: 42px;
  font-weight: normal;
}

.order__text {
  font-size: 18px;
  font-family: Gilroy-regular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  text-align: left;
  margin-bottom: 48px;
  max-width: 403px;
}

.order__input {
  display: block;
  border: 1px solid #821328;
  border-radius: 30px;
  width: 294px;
  height: 60px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  padding-left: 25px;
  font-size: 15px;
  font-family: Gilroy-bold, sans-serif;
  color: rgb(118, 12, 34);
}

.order__your-data {
  margin-top: 20px;
  margin-bottom: 40px;
}

.order__your-name {
  margin-top: 22px;
}

.order__your-phone {
  margin: 15px 0 15px 0;
}

.order__input::placeholder {
  font-size: 15px;
  font-family: Gilroy-bold, sans-serif;
  color: rgb(118, 12, 34);
  text-align: left;
}

.order__button {
  width: 294px;
  height: 60px;
  font-size: 18px;
  font-family: Gilroy-bold, sans-serif;
  color: rgb(255, 255, 255);
}

.order__strawberry-little {
  position: absolute;
  bottom: 75px;
  right: 0;
  animation: strawberry-fly 3s 0.5s infinite;
}


@keyframes strawberry-fly {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 25px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.45);
    opacity: 0;
  }
}

@keyframes pulse-mini {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.15);
    opacity: 0;
  }
}

@media screen and (max-width: 1229px) {
  .history__block {
    gap: 10px;
  }

  .products__items {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 80px;
  }

  .order__image {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .history__container {
    gap: 88px;
  }

  .history__block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .history__title-text {
    align-items: center;
  }

  .history__title {
    text-align: center;
    max-width: 476px;
  }

  .history__text {
    text-align: center;
    max-width: 667px;
  }

  .history__items {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px 54px;
    justify-content: center;
  }

  .history__image-img {
    max-width: 320px;
  }

  .order__container {
    position: relative;
    justify-content: start;
    max-width: 728px;
  }

  .order__image {
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .order__image-img {
    max-width: 352px;
  }

  .order__form {
    position: initial;
  }

  .order__strawberry-little {
    right: 100px;
    top: 231px;
  }
}

@media screen and (max-width: 965px) {
  .main {
    overflow: visible;
  }

  .main__container {
    flex-direction: column;
    align-items: start;
    padding: 97px 20px 62px 20px;
  }

  .button__select {
    z-index: 2;
  }

  .main__image {
    align-self: end;
    margin-top: -80px;
    margin-right: 55px;
  }
}

@media screen and (max-width: 767px) {
  .main__container {
    align-items: center;
    justify-content: center;
    gap: 38px;
    padding: 43px 19px;
  }

  .main__image {
    align-self: center;
    margin: 0;
  }

  .main__image::before {
    animation: pulse-mini 3s infinite;
    animation-delay: 0.5s;
    left: 25px;
  }

  .main__image::after {
    animation: pulse-mini 3s infinite;
    left: 25px;
  }

  .products__items {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
  }

  .order__container {
    padding: 100px 15px 77px 15px;
    position: relative;
    gap: 0;
    justify-content: center;
  }

  .order__title {
    font-size: 30px;
  }

  .order__text {
    font-size: 16px;
  }

  .order__image-img {
    display: none;
  }

  .order__strawberry-middle {
    left: initial;
    right: 13px;
    top: 200px;
    width: 72px;
    height: 89px;
  }

  .order__strawberry-little {
    display: none;
  }

  .order__image {
    position: initial;
  }

  .order__input {
    width: 100%;
  }

  .order__button {
    width: 100%;
  }

  .present__text {
    max-width: 116px;
    font-size: 10px;
    padding: 10px 5px;
  }

  .present__logo {
    width: 45px;
    height: 45px;
  }

  .present__logo-img {
    width: 50%;
  }
}

@media screen and (max-width: 574px) {
  .menu-item {
    margin: 15px 0;
  }

  .main__block {
    gap: 40px;
    align-items: center;
  }

  .main__text {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
  }

  .main__title {
    font-size: 31px;
    text-align: center;
    max-width: 100%;
  }

  .main__image-img {
    max-width: 250px;
  }

  .history__container {
    padding: 100px 15px;
  }

  .history__block {
    gap: 59px;
  }

  .history__title {
    font-size: 28px;
  }

  .history__text {
    font-size: 16px;
  }

  .history__title-text {
    gap: 40px;
  }

  .history__items {
    grid-template-columns: repeat(2, minmax(100px, 156px));
    grid-template-rows: 1fr max-content;
    gap: 36px 15px;
  }

  .products__title {
    font-size: 30px;
  }

  .products__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .order__image {
    position: absolute;
    top: 200px;
    margin-left: 0;
    bottom: auto;
  }

  .order__strawberry-middle {
    position: initial;
  }
}

@media screen and (max-width: 374px) {
  .main__image {
    align-self: center;
    margin: 0;
    max-width: 250px;
  }

  .history__image-img {
    max-width: 100%;
  }

  .products__container {
    padding: 100px 15px;
  }

  .products__item {
    max-width: 100%;
  }

  .order__image {
    top: 220px;
  }

  .order__strawberry-middle {
    width: 50px;
    height: 65px;
  }
}
