/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  box-sizing: border-box;
}

.button {
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border-radius: 30px;
  box-sizing: border-box;
  border: 0;
  font-family: Gilroy-bold, sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.7s;
}

.button:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

@font-face {
  font-family: Gilroy-bold;
  src: url("./assets/fonts/gilroy-bold.ttf");
}

@font-face {
  font-family: Gilroy-extrabold;
  src: url("./assets/fonts/gilroy-extrabold.ttf");
}

@font-face {
  font-family: Gilroy-medium;
  src: url("./assets/fonts/gilroy-medium.ttf");
}

@font-face {
  font-family: Gilroy-regular;
  src: url("./assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: Tavolga-free;
  src: url("./assets/fonts/tavolga-free.ttf");
}

body {
  font-family: Gilroy-medium, sans-serif;
  cursor: default;
}
